<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%if session[:logged_in]%>
      <%= link_to "Show this student", student ,class: "btn btn-secondary"%>
      <%end%>
    </p>
  <% end %>
</div>
<%if session[:logged_in]%>
      <%= link_to "New student", new_student_path,class: "btn btn-secondary" %>
  <%end%>

