<h1>Editing score</h1>

<%= render "form", score: @score %>

<br>

<div>
  <%= link_to "Show this score", @score ,class: "mr-1 col-5 btn btn-secondary "%> 
  <%= link_to "Back to scores", scores_path ,class: "mr-1 col-5 btn btn-secondary "%>
</div>
